#hike-tile h1{
  font-family: 'Luckiest Guy', cursive;
  color: #CF8949;
  -webkit-text-stroke: 1px black;
  font-size: 2em;
}
#hike-tile h3{
  font-size: 2em;
  font-family: 'Luckiest Guy', cursive;
  color: #CF8949;
  -webkit-text-stroke: 1px black;
}
#hike-tile h4{
  font-family: 'Luckiest Guy', cursive;
  color: #CF8949;
  -webkit-text-stroke: 1px black;
}
#hike-tile p{
  color: #CF8949;
  background-color: #23456B;
  padding: 1em;
  font-size: 1em;
}
 #hike-tile{
  background-color: #022851;
  margin: 2em;
  max-width: 25em;
  position: relative;
  display: inline-block;
  align-items: baseline;
  padding: 1em;
  border-style: ridge;
  border-color: white;
  font-family: 'Josefin Sans', sans-serif;
}
#hike-tile img{
  float: right;
}
